<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c841c247cce841b0a4835949378c2419";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<header>
{{ with .Site.Menus.parent -}}
  <nav>
  {{ range . -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
  {{ end -}}
  </nav>
{{ end -}}
  <div>
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Params.subtitle }}<h2><a href="{{ .Site.BaseURL }}">{{ .Site.Params.subtitle }}</a></h2>{{- end }}
  </div>
  <nav>
    {{- range .Site.Menus.main -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end -}}
    {{ partial "search.html" . }}
  </nav>
</header>
